<header class="header">
    <div class="header__title">
      <h1>{{ title }}</h1>
    </div>
    <div class="header__total">
      <img src="../../.././../assets/icons/online-shopping.png" alt="Purchase Total in Cart">
      <span>  ${{ total$ | async | number: '1.0-0' }} </span>
    </div>
    <div class="header__cart">
      <img src="../../.././../assets/icons/shopping-basket.png" alt="Total Number of Products in Cart">
      <span> Basket {{ count$ | async | number: '1.0-0' }}</span>

    </div>
</header>
