<app-layout>

 <div class="checkout">
  <form class="checkout__form" [formGroup]="form"  (ngSubmit)="formSubmit()">


    <div class="field">
        <label for="firstname" class="block">First name</label>
        <input id="firstname" type="username" formControlName="firstname" aria-describedby="firstname-help" class="ng-invalid ng-dirty" pInputText />
        <small id="firstname-help" class="p-error block">Username is not available.</small>
    </div>


  </form>

  {{form.value | json}}

 </div>

</app-layout>
